<html>
    <style>
        #style1{text-align: center;
        color:blue;
        font-size: 20px;}

        .button {
        background-color: #b0b5b0;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        }  
    </style>

<body id="style1">
    <h2>harshini-7780</h2>
    <div>
        <a href="/">Home</a>
    </div>
    <form action="/q3" method="post">
        No.of times:<input type="number" name="no_of_times"><br><br>
        No.of queries:<input type="number" name="no_of_queries"><br><br>
        NeT value:<input type="texts" name="netv"><br><br>
        MinRange:<input type="number" name="minv"><br><br>
        MaxRange:<input type="number" name="maxv"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>